# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [6]:
# Add your code for Question 1 in this code block
import pandas as pd
data = pd.read_csv("application_data.csv")
data

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17
...,...,...,...,...,...,...,...,...,...
995,964510149,302636726,2018-01-15,2,7500.0,30.0,30,2018-02-14,2018-01-20
996,251997198,302772445,2018-02-13,1,7500.0,30.0,30,2018-03-15,2018-03-14
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12
998,648637210,302788322114,2018-11-19,1,7500.0,30.0,30,2018-12-19,2018-12-17
999,464788691,302683579,2018-01-24,1,7500.0,30.0,30,2018-02-24,2018-02-11

In [7]:
data.describe()

        LoanNumber     LoanAmount  InterestRate    TermDays
count  1000.000000    1000.000000   1000.000000  1000.00000
mean      2.691000   13828.080000     23.061700    42.07500
std       2.789139   19362.887991      8.415945    34.79339
min       1.000000      80.000000      5.000000    15.00000
25%       1.000000    7500.000000     15.000000    30.00000
50%       2.000000    7500.000000     30.000000    30.00000
75%       3.000000   11000.000000     30.000000    45.00000
max      26.000000  166000.000000     36.000000   180.00000

---


### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [8]:
# Add your code for Question 2 in this code block
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customerID         1000 non-null   object
 1   loanId             1000 non-null   object
 2   appilcationDate    1000 non-null   object
 3   LoanNumber         1000 non-null   int64
 4   LoanAmount         1000 non-null   float64
 5   InterestRate       1000 non-null   float64
 6   TermDays           1000 non-null   int64
 7   repaymentDueDate   1000 non-null   object
 8   repaymentPaidDate  1000 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 70.4+ KB

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [9]:
# convert to dates
data['appilcationDate'] = pd.to_datetime(data['appilcationDate'])
data['repaymentDueDate'] = pd.to_datetime(data['repaymentDueDate'])
data['repaymentPaidDate'] = pd.to_datetime(data['repaymentPaidDate'])

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [5]:
# data types

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [10]:
# 2a avg loan amount
data["LoanAmount"].mean()

13828.08

In [11]:
# 2b avg interest rate
round (data['InterestRate'].mean(), 2)

23.06

In [12]:
# 2c avg term days 
round(data ['TermDays'].mean(), 2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [23]:
# date difference
data["dateDifference"] = data["repaymentPaidDate"] - data["repaymentDueDate"]

# number of loans more than 3days
late_date_mask = data.dateDifference.dt.days > 3
late_date_mask 
data[late_date_mask]
 
  
# list output 
data
# data.drop(["dateDifference"], axis = 1, inplace = True) # To drop / delete a column
# data

# number of loans more than 3 days late
#new table of people who payed later than 3days

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16,-4 days
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29,-24 days
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08,-30 days
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08,-26 days
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17,-3 days
...,...,...,...,...,...,...,...,...,...,...
995,964510149,302636726,2018-01-15,2,7500.0,30.0,30,2018-02-14,2018-01-20,-25 days
996,251997198,302772445,2018-02-13,1,7500.0,30.0,30,2018-03-15,2018-03-14,-1 days
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days
998,648637210,302788322114,2018-11-19,1,7500.0,30.0,30,2018-12-19,2018-12-17,-2 days
999,464788691,302683579,2018-01-24,1,7500.0,30.0,30,2018-02-24,2018-02-11,-13 days

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [34]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
# loandays = data.TermDays == 30
# days = data[loandays].LoanAmount
# round(days.mean(),2)
# #standard deviation of loan amount in 90-day loans
# loan_for_90days= data.TermDays == 90
# loans90 = data[loan_for_90days].LoanAmount
# round(loans90.std(), 2)

grouped_data = data.groupby("TermDays").std().reset_index()
for i in grouped_data["TermDays"]:
    answer = round(grouped_data[grouped_data["TermDays"] == i].LoanAmount, 2)
    print(f"mean of loan amount for  {i}days : {float(answer)}")

grouped_data =data.groupby("TermDays").mean().reset_index()
for i in grouped_data["TermDays"]:
     answer = round(grouped_data[grouped_data["TermDays"]== 90].LoanAmount, 2)
     print(f' STD of loan amount for  {i}days : {float(answer)}')

mean of loan amount for  15days : 2885.97
mean of loan amount for  30days : 1606.04
mean of loan amount for  45days : 2346.14
mean of loan amount for  60days : 11559.65
mean of loan amount for  90days : 18050.14
mean of loan amount for  120days : 22192.97
mean of loan amount for  180days : 34612.22
 STD of loan amount for  15days : 37672.73
 STD of loan amount for  30days : 37672.73
 STD of loan amount for  45days : 37672.73
 STD of loan amount for  60days : 37672.73
 STD of loan amount for  90days : 37672.73
 STD of loan amount for  120days : 37672.73
 STD of loan amount for  180days : 37672.73

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [53]:
# week of year and average number of late days
late_payments = data [late_date_mask]
late_payments["late_days"] = late_payments.dateDifference.dt.days
# late payments
late_payments["week"] = late_payments.appilcationDate.dt.week
test = late_payments.groupby("week").mean().reset_index()

secweek= test.iloc[1,5]
print(f"{secweek}")

45.75

C:\Users\Bolaji\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Bolaji\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.