In [1]:
import pandas as pd
learn.linear_model import LinearRegression

In [9]:
google = pd.read_csv("GOOG.csv")
# google = google.drop('volume', axis = 1)
google.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2011-01-03,297.126312,301.664276,297.126312,301.046600,301.046600,4748100
1,2011-01-04,301.679230,301.958191,298.939514,299.935760,299.935760,3662600
2,2011-01-05,298.914581,304.025452,298.904633,303.397797,303.397797,5083500
3,2011-01-06,304.199799,308.060303,303.885956,305.604523,305.604523,4131000
4,2011-01-07,306.805023,307.970642,303.925812,307.069031,307.069031,4218100